{% extends 'base.html' %}

{% block content %}
  <div class="modal fade" id="wordcloudModal" tabindex="-1" aria-labelledby="wordcloudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="wordcloudModalLabel">Wordcloud</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="wordcloud">
        </div>
      </div>
    </div>
  </div>
  <h4 style="margin-bottom: 1rem">
    Dados de projetos UFG
  </h4>
  <div class="row">
    <div class="col-md-4">
      <select class="form-select" id="tipo">
        <option selected></option>
        {% for tipo in tipos_projeto %}
          <option value="{{ tipo }}">{{ tipo }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select" id="unidade">
        <option selected></option>
        {% for unidade in unidades_projeto %}
          <option value="{{ unidade }}">{{ unidade }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#wordcloudModal">
        Wordcloud de Projetos
      </button>
      <button type="button" class="btn btn-secondary limparWordCloud">
        Limpar Busca Wordcloud
      </button>
    </div>
    <div class="accordion" id="accordions" style="margin-top: 2rem">
      <div class="accordion" id="accordionExample">
        {% for projeto in projetos %}
          <div class="accordion-item">
            <p class="accordion-header" id="P{{ projeto.idProjeto }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#I{{ forloop.counter0 }}"
                      aria-expanded="true" aria-controls="I{{ forloop.counter0 }}">
                <b>{{ projeto.tipo_projeto }}:</b> &nbsp;{{ projeto.titulo_projeto }}
              </button>
            </p>
            <div id="I{{ forloop.counter0 }}" class="accordion-collapse collapse"
                 aria-labelledby="P{{ projeto.idProjeto }}"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Unidade: <b>{{ projeto.nome_unidade_projeto }}</b>
                </p>
                <p>
                  Coordenador: <b>{{ projeto.coordenacao_projeto }}</b>
                </p>
                <p>
                  Resumo: {{ projeto.resumo_projeto }} <br/>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation" style="margin-top: 2rem">
    <ul class="pagination justify-content-center">
      {% if projetos.has_previous %}
        <li class="page-item">
          <a class="page-link" data-page="{{ projetos.previous_page_number }}">Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
      {% endif %}

      {% if projetos.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" data-page="{{ projetos.number|add:'-5' }}">&hellip;</a></li>
      {% endif %}

      {% for i in projetos.paginator.page_range %}
        {% if projetos.number == i %}
          <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only"></span>
              </span>
          </li>
        {% elif i > projetos.number|add:'-5' and i < projetos.number|add:'5' %}
          <li class="page-item"><a class="page-link" data-page="{{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if projetos.paginator.num_pages > projetos.number|add:'4' %}
        <li class="page-item"><a class="page-link" data-page="{{ projetos.number|add:'5' }}">&hellip;</a></li>
      {% endif %}

      {% if projetos.has_next %}
        <li class="page-item">
          <a class="page-link" data-page="{{ projetos.next_page_number }}">Próximo</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próximo</a>
        </li>
      {% endif %}

    </ul>
    <div class="d-flex justify-content-center" style="width: 200px;margin: 1.5rem auto;">
      <select id="limit" class="form-select">
        <option value="10">10 Projetos/Página</option>
        <option value="20">20 Projetos/Página</option>
        <option value="50">50 Projetos/Página</option>
        <option value="100">100 Projetos/Página</option>
        <option value="200">200 Projetos/Página</option>
        <option value="500">500 Projetos/Página</option>
      </select>
    </div>
  </nav>
  <script>
      $(document).ready(function () {
          const urlSearchParams = new URLSearchParams(window.location.search);
          const params = Object.fromEntries(urlSearchParams.entries());
          const limit_el = $('#limit')
          const unidade_el = $('#unidade')
          const tipo_el = $('#tipo')

          if (params.limit) {
              limit_el.val(params.limit)
          } else {
              limit_el.val(50)
          }
          if (params.unidade) {
              unidade_el.val(params.unidade)
          }

          if (params.tipo) {
              tipo_el.val(params.tipo)
          }

          $(".limparWordCloud").on("click", () => {
              urlSearchParams.delete("busca")
              window.location = `${window.location.href.split("?")[0]}?${urlSearchParams.toString()}`
          })

          limit_el.on('change', e => {
              urlSearchParams.set("limit", e.target.value)
              window.location = `${window.location.href.split("?")[0]}?${urlSearchParams.toString()}`
          })

          $(".page-link").on('click', e => {
              urlSearchParams.set("page", e.currentTarget.dataset.page)
              window.location = `${window.location.href.split("?")[0]}?${urlSearchParams.toString()}`
          })

          unidade_el.on('change', e => {
              urlSearchParams.set("unidade", e.currentTarget.value)
              window.location = `${window.location.href.split("?")[0]}?${urlSearchParams.toString()}`
          })
          tipo_el.on('change', e => {
              urlSearchParams.set("tipo", e.currentTarget.value)
              window.location = `${window.location.href.split("?")[0]}?${urlSearchParams.toString()}`
          })
        Highcharts.chart('wordcloud', {
          plotOptions: {
            series: {
              cursor: 'pointer',
              point: {
                events: {
                  click: function(e) {
                    urlSearchParams.set("busca", this.name)
                    window.location = `${window.location.href.split("?")[0]}?${urlSearchParams.toString()}`
                  }
                }
              }
            }
          },
          series: [{
            type: 'wordcloud',
            data: {{ wordcloud|safe }},
            name: 'ocorrências'
          }],
          title: {
            text: 'Wordcloud de projetos'
          }
        });
      });
  </script>
{% endblock %}

